* {
  margin: 0; 
  border: 0;
}

#app {
  width: 100%;
  height: 100%;
}

/* change font here */ 
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* main header coloring and font size and weight*/
.header-item{
  color: #e57f35;
}

.main-header{
  font-size: 1.9rem;
  font-weight: 700;
}

.secondary-header{
  font-size: 1.4rem;
  font-weight: 400;
}

/* footer text coloring and size */
.footer-item{
  color: #e57f35;
  font-size: 1.2rem;
}

/* box coloring */
.featured-box{
  color: white;
  background-color: #e57f35;
}

.options-box {
  color: grey;
  background-color: transparent;
}

/* label size and coloring*/
.label {
  color: grey;
  font-size: 0.7rem;
  text-align: right;
}

/* social icon sizing */
.social-icon {
  width:30px;
  padding: 10px;
}

/* Final Message */
.end-main-header {
  color: #e57f35;
  font-size: 1.3rem;
}

.end-secondary-header {
  color: grey;
  font-size: 1.2rem;
}

.final-message-img {
  content:url('/images/rwr-logo.png');
  width: 60%;
}
