* {
  margin: 0; 
}

#app {
  width: 100%;
  height: 100%;
}

/* change font here */ 
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* main header coloring and font size and weight*/
.header-item{
  color: #e57f35;
}

.main-header{
  font-size: 1.9rem;
  font-weight: 700;
}

.secondary-header{
  font-size: 1.4rem;
  font-weight: 400;
}

/* footer text coloring and size */
.footer-item{
  color: #e57f35;
  font-size: 1.2rem;
}

.footer-button {
  color: #e57f35;
  font-size: 1rem;
  outline: none;
  border: solid 1px;
  border-radius: 3px;
  border-color:  #e57f35;
  margin-right: 4px;
}

.footer-button:focus{
  outline: none;   
}

.footer-button :hover {
  color: grey;
}

/* label size and coloring*/
.label {
  color: grey;
  font-size: 0.7rem;
  text-align: left;
}

/* social icon sizing */
.social-icon {
  width:30px;
  padding: 10px;
}

/* Final Message */
.end-main-header {
  color: #e57f35;
  font-size: 1.3rem;
}

.end-secondary-header {
  color: grey;
  font-size: 1.2rem;
}

.final-message-img {
  content:url('/images/rwr-logo.png');
  width: 60%;
}

/* TITLE AND DESCRIPTION */

.title {
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
}

.description {
 font-size: 0.7rem;
 font-weight: 300;
 pointer-events: none;
}


/* Scrollbar */

::-webkit-scrollbar {
  display:none
}

/* ANIMATION */

.move-fade-enter {
  opacity: 0.01;
  transform: translate3d(10%,0%,0);
}
.move-fade-enter-active {
  opacity: 1;
  transform: translate3d(0%,0%,0);
  transition: all 1700ms ease-out 2000ms;
}

.move-fade-exit {
  opacity: 1;
}
.move-fade-exit-active {
  opacity: 0.01;
  transition: all 1000ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: all 1000ms ease-out;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all 1000ms ease-in;
}


/* Media Queries */

@media (max-width: 600px) {
  .title {
    font-size: 0.6rem;
  }
  .description {
   font-size: 0.45rem;
  }
  .main-header{
    font-size: 1.5rem;
  }
  .secondary-header{
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 0.5rem;
  }
  
  .description {
   font-size: 0.35rem;
  }
  .main-header{
    font-size: 0.8rem;
  }
  .secondary-header{
    font-size: 0.9rem;
  }
  .label {
    font-size: 0.5rem;
  }
}